body {
    background-color:antiquewhite;
    margin: 0px;
    overflow: hidden;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-align: center;
}

a {
    color: #0078ff;
}

#info {
    /*color: #fff;*/
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

#optionsselecter{
    position:absolute;
    top:5px;
    right:5px;

}